.notes-wrapper {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.notes-body {
	height: 100vh;
	width: 100%;
	max-width: 600px;
	padding: 20px;
	border: 1px solid red;
	display: flex;
	flex-flow: column;
	gap: 20px;
}
.notes-date-group {
	font-family: 'Dekko', sans-serif;
	border: 1px solid green;
	text-align: left;
	padding: 20px;
}

.notes-date-group ul {
	list-style-type: none;
}
