
header {
    height: 50px;
    position: fixed;
    top: 0;
    width: 100vw;
    position: relative;
	display: flex;
}
header .profile {
    position: absolute;
	top: 10px;
    right: 40px;
    border: 1px solid var(--primary);
    display: flex;
    flex-flow: column;
	z-index: 1;
    align-items: flex-start;
    gap: 5px;
    width: fit-content;
    border-radius: 50%;
    background: white;
}
header .icon {
    font-size: 30px;
    cursor: pointer;
	color: var(--primary-dark);
}
header .profile p {
    font-family: 'Dekko', sans-serif;
    background: white;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-dark);
    padding: 3px;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    display: none;
}
header p:hover {
    background-color: var(--primary-dark);
    color: white;
}
header .profile.active {
    border-radius: 4px;
	padding: 5px;
}
header .profile.active p {
    display: block;
}
.notes-wrapper {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.notes-body {
	height: calc(100vh - 50px);
	width: inherit;
	max-width: 100%;
	padding: 0 60px 150px 60px;
	padding-top: 0;
	padding-bottom: 150px;
	border: 0px 2px 0px 2px solid var(--primary-dark);
	display: flex;
	flex-flow: column;
	overflow: auto;
	gap: 20px;
}
.search {
	border: 1px solid #ccc;
	height: 40px;
	background: white;
	max-width: 450px;
	width: calc(100% - 100px);
	display: flex;
	align-items: center;
	margin-left: 30px;
	justify-content: space-between;
	align-self: flex-end;
}
.search input[type="text"] {
	border: none;
	outline: none;
	padding: 10px;
	width: 100%;
}
.search .filters input[type="date"] {
	width: 100px;
	font-size: 13px;
	border: 1px solid #ccc;
	outline: none;
}
.notes-date-group {
	font-family: 'Dosis', sans-serif;
	text-align: left;
	padding: 0 20px;
	position: relative;
}
.filters {
	padding: 0;
	display: flex;
	flex-flow: row;
	align-items: center;
	gap: 15px;
	margin: 0 20px;
}
  .notes-date-group::before {
	content: "";
	position: absolute;
	top: 35px;
	bottom: -20px;
	left: 4px;
	border-left: 3px solid var(--primary); 
  }
h2, h3 {
	display:flex;
	flex-flow: row wrap;
	align-items: center;
	
}
h2 .icon {
	color: var(--primary);
	align-self: flex-start;
	font-weight: 600;
	font-size: 30px;
}
h2 {
	margin-left: -30px;
	color: var(--primary-dark);
	font-weight: 700;
}
.notes-date-group ul {
	list-style-type: none;
}
.note {
	padding: 10px 30px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.note:hover {
	background-color: rgb(255, 249, 240);
}
.note h3 {
	display: flex;
	flex-flow: row;
	align-items: center;
	position: relative;
	font-size: 20px;
}
.note .icon.trash {
	position: absolute;
	right: 0;
	color: red;
	font-size: 20px;
}
.icon.check {
	position: absolute;
	left: -30px;
	font-size: 20px;
}
.note .icon {
	transition: all 0.3s ease;
}
.note .icon:hover {
	transform: scale(1.05);
}
.note .icon:active {
	opacity: 0.5
}
.add-note {
	position: fixed;
	bottom: 50px;
	right: 50px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	font-family: "Dekko", sans-serif;
	gap: 5px;
	font-weight: 800;
	background: var(--primary-dark);
	color: white;
}

@media screen and (max-width: 600px){
	.add-note {
		content: "";
		border-radius: 50%;
		width: 50px;
		height: 50px;
	}
	header .profile {
		right: 10px;
	}
	.add-note .text {
		display: none;
	}
	.notes-body {
		padding: 0 20px 150px 20px;
	}

}
@media screen and (max-width: 400px){
	.search {
		border: 1px solid #ccc;
		height: 40px;
		background: white;
		max-width: 450px;
		width: calc(100% - 90px);
		display: flex;
		align-items: center;
		margin-left: 30px;
		justify-content: space-between;
		align-self: flex-end;
	}
	.filters {
		gap: 5px;
		margin: 0 5px;
	}
	.search input[type="text"] {
		border: none;
		outline: none;
		padding: 10px;
		width: 100%;
	}
	.search .filters input[type="date"] {
		width: 20px;
		padding: 0;
		font-size: 13px;
		border: 1px solid #ccc;
		outline: none;
	}

}
